/* label {
  width: 40px;
} */

path {
  transition: 0s;
}

svg {
  width: 100%;
  height: 300px;
}

.svg-map {
  margin-left: 2em;
}

svg .country:hover {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

video {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
}

/* .App {
  margin-top: 3em;
} */

nav{
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  background: rgb(75,75,75);
}

nav :hover{
  color: coral;
  text-decoration: none;
}

.nav-links{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.home_nav{
  text-decoration: none;
}

#sideBar {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: darkgray;
  min-height: 97vh;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

#webcam{
  width: 400px;
}

#image{
  border-radius: 50%;
  object-fit: cover;
  width:300px;
  height:300px;
  box-shadow: 0px 10px 20px grey;
  border-style: double;
}

#tourList {
  margin-left: 4px;
}

#mapDiv {
  width: 75%;
  display: inline-block;
}
